* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    box-sizing: border-box;
	vertical-align: baseline;
}

body {
    display: flex;
    gap: 45px;
    background-color: black;
}

#paper {
    height: 600px;
    width: 550px;
    margin-top: 125px;
    padding: 15px;
    background: linear-gradient(-45deg, antiquewhite 0%, khaki 100%);

    font-family: 'Reenie Beanie', cursive;
    font-size: 1.5em;
    transform: rotate(2deg);

}

#device {
    height: 775px;
    width: 560px;
    margin-left: 30%;
    margin-top: 50px;

    background-color: darkslategray;
    border-bottom: hsl(180, 10%, 10%) 25px solid;
    border-radius: 50px;
}

#top {
    height: 175px;
    margin: auto;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightslategray;
    border-radius: 20px;
}

#label {
    font-family: 'Bungee', cursive;
    color: hsl(0, 0%,18%);
}

#display {
    height: 70px;
    width: 500px;
    
    text-align: end;
    font-size: 3em;
    border: hsl(0, 0%, 15%) 4px solid;
    border-top: none;
    border-radius: 0 0 5px 5px;
}

#small-display {
    height: 35px;
    width: 500px;
    margin-top: 10px;
    font-size: 1.3em;
    border: hsl(0, 0%, 15%) 4px solid;
    border-bottom: none;
    border-top-width: 10px;
    border-radius: 5px 5px 0 0;
}

#display,
#small-display {
    padding-right: 5px;
    text-align: end;
    background-color:darkseagreen;
    color: hsl(120, 25%, 10%);
    font-family: 'Share Tech Mono', monospace;
}

#bottom {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 4px;
    margin: auto;
    margin-top: 15px;
    width: 470px;
}

.socket button {
    box-sizing: content-box;
    height: 90px;
    width: 100px;

    background-color: lightgray;
    border: hsl(0, 0%, 5%) 4px solid;
    border-bottom: hsl(0, 0%, 5%) 10px solid;
    border-radius: 6px;
    font-family: 'Syne Mono', monospace;
    font-size: 3em;
    display:inline-flex;
    justify-content: center;
    align-items: center;

    transition: 0.1s;
}

.socket button:active {
    height: 90px;
    margin-top: 6px;
    border-bottom-width: 4px;
}

.btn.clear {
    background-color:hsl(9, 100%, 64%);
    border-color: hsl(9, 100%, 12%);
}

.btn.polarity,
.btn.backspace,
.btn.equalize {
    background-color: hsl(35, 90%, 55%);
    border-color: hsl(35, 90%, 12%)
}

.btn.operator {
    margin-left: 7px;
}

.btn.operator,
.btn.dot {
    background-color: hsl(0, 0%,18%);
    border-color: black;
    color:azure;
}

.btn.equalize {
    width: 225px;
}

.socket button.close {
    letter-spacing: -8px;
}

.socket button.lrg {
    font-size: 4em;
}