* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    box-sizing: border-box;
	vertical-align: baseline;
}

#device {
    height: 650px;
    width: 430px;

    background-color: gray;
}

#top {
    height: 100px;
    display: flex;
}

#display {
    height: 50px;
    width: 430px;
    align-self: center;
    text-align: end;
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.8em;

    background-color: white;
    border: black 2px solid;
}

#small-display {
    position: relative;
    top: 25px;
    height: fit-content;
    background-color:darksalmon
}

#bottom {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/*.socket,*/
.socket button {
    height: 100px;
    width: 100px;
    border: black 2px solid;
    font-family: 'Syne Mono', monospace;
    font-size: 2.5em;
}

.btn.equalize {
    width: 210px;
}